.hide{
    display: none;
}

h3{
    color: blueviolet;
}


.main-links{
  display: flex;
}
.main-links li {
 list-style: none;
}
.main-link{
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 25px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
 
}
.active{
    color: blueviolet;
    font-weight: 600;
    text-decoration: underline;
}